<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sagirov.ilovedog">


    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DogsEncyclopediaDatabase.DogsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ILoveDog"
        tools:targetApi="31">
        <activity
            android:name=".DocumentActivity"
            android:exported="false"
            android:label="@string/title_activity_document"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".ArticleChoiceActivity"
            android:exported="false"
            android:label="@string/title_activity_article_choice"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".NewPetActivity"
            android:exported="false"
            android:label="@string/title_activity_new_pet"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".DetailedDogActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_dog"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".ReminderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_reminder"
            android:theme="@style/Theme.ILoveDog"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sagirov.ilovedog.NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".WalkLaunchActivity"
            android:exported="false"
            android:label="@string/title_activity_walk_launch"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".FirstLaunchActivity"
            android:exported="false"
            android:label="@string/title_activity_first_launch"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ILoveDog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:authorities="com.sagirov.ilovedog.Activities.NewPetActivity.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>