<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sagirov.ilovedog"
    android:versionName="1.03">

    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk tools:overrideLibrary="com.huawei.agconnect.credential,com.huawei.agconnect.core,com.huawei.agconnect.https,com.huawei.agconnect.datastore" />
    <application
        android:name=".DogsApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/dog_icon_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/dog_icon_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.ILoveDog"
        tools:targetApi="31">
        <activity
            android:name=".Activities.NewVaccineActivity"
            android:exported="false"
            android:label="@string/title_activity_new_vaccine"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.VaccinationActivity"
            android:exported="false"
            android:label="@string/title_activity_vaccination"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.DogNutritionActivity"
            android:exported="false"
            android:label="@string/title_activity_dog_nutrition"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.AboutAuthorPageActivity"
            android:exported="false"
            android:label="@string/title_activity_about_author_page"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.RoadMapActivity"
            android:exported="false"
            android:label="@string/title_activity_road_map"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.DocumentActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_document"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.ArticleChoiceActivity"
            android:exported="false"
            android:label="@string/title_activity_article_choice"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.NewPetActivity"
            android:exported="false"
            android:label="@string/title_activity_new_pet"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.DetailedDogActivity"
            android:exported="false"
            android:label="@string/title_activity_detailed_dog"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.ReminderActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:label="@string/title_activity_reminder"
            android:theme="@style/Theme.ILoveDog"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="install_channel"
            android:value="AppGallery">

        </meta-data>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.sagirov.ilovedog.NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Activities.WalkLaunchActivity"
            android:exported="false"
            android:label="@string/title_activity_walk_launch"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.FirstLaunchActivity"
            android:exported="false"
            android:label="@string/title_activity_first_launch"
            android:theme="@style/Theme.ILoveDog" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ILoveDog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sagirov.ilovedog.Activities.NewPetActivity.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>